# This file is a template, and might need editing before it works on your project.
# Template project: https://gitlab.com/pages/jekyll
# Docs: https://docs.gitlab.com/ce/pages/
image: starefossen/ruby-node:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive      
  JEKYLL_ENV: production

before_script:
- apt-get update
- apt-get install -y aspell
- bundle install
- rake yarn

test:
  stage: test
  script:
  - rake test
  allow_failure: true



pages:
  stage: deploy
  script:
  - rake build
  artifacts:
    paths:
    - public
  only:
  - master

