<nav class="header-nav {% if site.scrollappear_enabled %}appear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">
    <svg class="wordmark" width="1902px" height="532px" viewBox="0 0 1902 532" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <title>Naren Dasan</title>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="naren-+-Type-something-+-Group" sketch:type="MSLayerGroup" transform="translate(0.000000, -68.000000)">
                  <g id="naren-+-Type-something" transform="translate(450.000000, 0.000000)" font-size="500" font-family="Canter" fill="#494949" sketch:type="MSTextLayer" font-weight="260">
                      <text id="naren">
                          <tspan x="0" y="475">naren</tspan>
                      </text>
                      <text id="Type-something">
                          <tspan x="776" y="475">dasan</tspan>
                      </text>
                  </g>
                  <g id="Group" transform="translate(0.000000, 73.000000)" sketch:type="MSShapeGroup">
                      <path d="M196.216835,454.586604 C304.344891,454.586604 392,366.931495 392,258.803439 C392,150.675382 304.344891,63.0202736 196.216835,63.0202736 C88.0887784,63.0202736 0.433669664,150.675382 0.433669664,258.803439 C0.433669664,366.931495 88.0887784,454.586604 196.216835,454.586604 Z" id="Oval-1" class="logo" fill="{{ site.logo_color }}"></path>
                      <path d="M66,445.829225 L66,0.586820592" id="Line" stroke="#FFFFFF" stroke-width="10" stroke-linecap="square"></path>
                      <path d="M69.9926798,34.1787328 L225.397688,520.073867" id="Line" stroke="#FFFFFF" stroke-width="10" stroke-linecap="square"></path>
                      <path d="M254,465.783908 L254,48.0217866" id="Line" stroke="#FFFFFF" stroke-width="10" stroke-linecap="square"></path>
                  </g>
              </g>
          </g>
      </svg>
  </a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          <span class="icon icon-about"></span>
        </a>
      </li>
    {% endif %}
    {% if site.post_enabled == true %}
    <li>
      <a href="{{ 'blog' | relative_url }}" title="Posts">
        <span class="icon icon-posts"></span>
      </a>
    </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">
          <span class="icon icon-rss"></span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
