/*Gruvbox Dark*/
$gd_bg            : #282828;
$gd_bg0_h         : #1d2021;
$gd_bg0_s         : #32302f;
$gd_bg0           : #282828;
$gd_bg1           : #3c3836;
$gd_bg2           : #504945;
$gd_bg3           : #665c54;
$gd_bg4           : #7c6f64;

$gd_fg            : #ebdbb2;
$gd_fg0           : #fbf1c7;
$gd_fg1           : #ebdbb2;
$gd_fg2           : #d5c4a1;
$gd_fg3           : #bdae93;
$gd_fg4           : #a89984;

$gd_red_dark      : #cc241d;
$gd_green_dark    : #98971a;
$gd_yellow_dark   : #d79921;
$gd_blue_dark     : #458588;
$gd_purple_dark   : #b16286;
$gd_aqua_dark     : #689d6a;
$gd_gray_dark     : #a89984;
$gd_orange_dark   : #d65d0e;

$gd_red_light     : #fb4934;
$gd_green_light   : #b8bb26;
$gd_yellow_light  : #fabd2f;
$gd_blue_light    : #83a598;
$gd_purple_light  : #d3869b;
$gd_aqua_light    : #8ec07c;
$gd_gray_light    : #928374;
$gd_orange_light  : #fe8019;

$gd_text : $gd_fg0;
$gd_higlight : #FFFAF4;

/*Gruvbox Light*/
$gl_bg            : #fbf1c7;
$gl_bg0_h         : #f9f5d7;
$gl_bg0_s         : #f2e5bc;
$gl_bg0           : #fbf1c7;
$gl_bg1           : #ebdbb2;
$gl_bg2           : #d5c4a1;
$gl_bg3           : #bdae93;
$gl_bg4           : #a89984;

$gl_fg            : #3c3836;
$gl_fg0           : #282828;
$gl_fg1           : #3c3836;
$gl_fg2           : #504945;
$gl_fg3           : #665c54;
$gl_fg4           : #7c6f64;

$gl_red_dark      : #cc241d;
$gl_green_dark    : #98971a;
$gl_yellow_dark   : #d79921;
$gl_blue_dark     : #458588;
$gl_purple_dark   : #b16286;
$gl_aqua_dark     : #689d6a;
$gl_gray_dark     : #a89984;
$gl_orange_dark   : #d65d0e;

$gl_red_light     : #fb4934;
$gl_green_light   : #b8bb26;
$gl_yellow_light  : #fabd2f;
$gl_blue_light    : #83a598;
$gl_purple_light  : #d3869b;
$gl_aqua_light    : #8ec07c;
$gl_gray_light    : #928374;
$gl_orange_light  : #fe8019;

$gl_text : $gl_fg0;
$gl_higlight : #EFE9D8;