@import '_gruvbox';
// =============================================================================
// Highlights light
// =============================================================================

.highlight {
  padding: 50px;
  margin: 0;
  margin: 30px 0;
  overflow: auto;
  font-weight: 400;
  background: lighten($gray-lightest, 6);
  border-radius: $base-border-radius;
  pre {
    margin: 0;
  }
}

// Inline highlighting

.highlighter-rouge {
  padding: 2px 4px;
  font-size: 14px;
  color: $gd_red_dark;
  background: $white;
  border: 1px solid $base-border-color;
  border-radius: 1px;
}

// Highlighting types
// =============================================================================

// Comment

.highlight .c {
  color: $gl_gray_dark;
  font-style: italic;
}

// Error

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

// Keyword

.highlight .k {
  color: $gl_red_dark;
}

// Literal

.highlight .l {
  color: $gl_purple_dark;
}

// Name

.highlight .n {
  color: $gd_text;
}

// Operator

.highlight .o {
  color: $gl_orange_dark;
}

// Punctuation

.highlight .p {
  color: $gl_fg0;
}

// Comment.Multiline

.highlight .cm {
  color: $gl_gray_dark;
}

// Comment.Preproc

.highlight .cp {
  color: $gl_red_dark;
}

// Comment.Single

.highlight .c1 {
  color: $gl_gray_dark;
}

// Comment.Special

.highlight .cs {
  color: $gl_gray_dark;
  font-style: underline;
}

// Generic.Emph

.highlight .ge {
  font-style: italic;
}

// Generic.Strong

.highlight .gs {
  font-weight: bold;
}

// Keyword.Constant

.highlight .kc {
  color: $gl_purple_dark;
}

// Keyword.Declaration

.highlight .kd {
  color: $gl_blue_dark;
}

// Keyword.Namespace

.highlight .kn {
  color: $gl_red_dark;
}

// Keyword.Pseudo

.highlight .kp {
  color: $gl_blue_dark;
}

// Keyword.Reserved

.highlight .kr {
  color: $gl_blue_dark;
}

// Keyword.Type

.highlight .kt {
  color: $gl_yellow_dark;
}

// Literal.Date

.highlight .ld {
  color: $gl_green_dark;
}

// Literal.Number

.highlight .m {
  color: $gl_purple_dark;
}

// Literal.String

.highlight .s {
  color: $gl_green_dark;
}

// Name.Attribute

.highlight .na {
  color: $gl_aqua_dark;
}

// Name.Builtin

.highlight .nb {
  color: $gl_yellow_dark;
}

// Name.Class

.highlight .nc {
  color: $gl_aqua_dark;
}

// Name.Constant

.highlight .no {
  color: $gl_orange_dark;
}

// Name.Decorator

.highlight .nd {
  color: $gl_aqua_dark;
}

// Name.Entity

.highlight .ni {
  color: $gl_fg0;
}

// Name.Exception

.highlight .ne {
  color: $gl_red_dark;
}

// Name.Function

.highlight .nf {
  color: $gl_aqua_dark;
}

// Name.Label

.highlight .nl {
  color: $gl_fg0;
}

// Name.Namespace

.highlight .nn {
  color: $gl_fg2;
}

// Name.Other

.highlight .nx {
  color: $gl_green_dark;
}

// Name.Property

.highlight .py {
  color: $gl_red_dark;
}

// Name.Tag

.highlight .nt {
  color: $gl_aqua_dark;
}

// Name.Variable

.highlight .nv {
  color: $gl_fg;
}

// Operator.Word

.highlight .ow {
  color: $gl_red_dark;
}

// Text.Whitespace

.highlight .w {
  color: $gl_fg1;
}

// Literal.Number.Float

.highlight .mf {
  color: $gl_purple_dark;
}

// Literal.Number.Hex

.highlight .mh {
  color: $gl_purple_dark;
}

// Literal.Number.Integer

.highlight .mi {
  color: $gl_purple_dark;
}

// Literal.Number.Oct

.highlight .mo {
  color: $gl_purple_dark;
}

// Literal.String.Backtick

.highlight .sb {
  color: $gl_red_dark;
}

// Literal.String.Char

.highlight .sc {
  color: $gl_red_dark;
}

// Literal.String.Doc

.highlight .sd {
  color: $gl_green_dark;
}

// Literal.String.Double

.highlight .s2 {
  color: $gl_purple_dark;
}

// Literal.String.Escape

.highlight .se {
  color: $gl_red_dark;
}

// Literal.String.Heredoc

.highlight .sh {
  color: $gl_blue_dark;
}

// Literal.String.Interpol

.highlight .si {
  color: $gl_green_dark;
}

// Literal.String.Other

.highlight .sx {
  color: $gl_green_dark;
}

// Literal.String.Regex

.highlight .sr {
  color: $gl_orange_dark;
}

// Literal.String.Single

.highlight .s1 {
  color: $gl_gray_dark;
}

// Literal.String.Symbol

.highlight .ss {
  color: $gl_gray_dark;
}

// Name.Builtin.Pseudo

.highlight .bp {
  color: $gl_aqua_dark;
}

// Name.Variable.Class

.highlight .vc {
  color: $gl_fg1;
}

// Name.Variable.Global

.highlight .vg {
  color: $gl_fg1;
}

// Name.Variable.Instance

.highlight .vi {
  color: $gl_fg1;
}

// Literal.Number.Integer.Long

.highlight .il {
  color: $gl_purple_dark;
}

// Generic.Subheading & Diff Unified/Comment?

.highlight .gu {
  color: $gl_bg3;
}

// Generic.Deleted & Diff Deleted

.highlight .gd {
  color: $gl_aqua_dark;
}

// Generic.Inserted & Diff Inserted

.highlight .gi {
  color: $gl_green_dark;
}
