{% extends "base.html" %}

{% block content %}
<img src="/img/about.jpg" alt="About Nielsen Ramon header image" />
<p>
  My interests are in Artificial Intelligence, Robotics, and Tangible Interaction Design
  mostly surrounding systems with multiple agents.
  I've done other work in the past on distributed and embedded systems, the web and high
  performance computing. Right now I am working on the development of Autonomous Vehicles at NVIDIA.
  I am a Colorado native and completed my undergrad at the University of Illinois at
  Urbana-Champaign in Computer Engineering. I am currently doing my masters in Computer Science and Robotics at USC.
  In my free time I work on / advocate for open source, play rugby, soccer and tennis,
  race bikes and from 2016 to 2017 I served as the Chair of the UIUC Chapter of the ACM.
</p>

<h3>Academic and Professional Timeline</h3>
<ul>
    <li>2022 / University of Southern California - ICAROS / Graduate Research Assistant under <a href="https://icaros.usc.edu/">Professor Stefanos Nikolaidis</a></li>
    <li>2021 / New York University - Game Innovation Lab / Graduate Research Assistant under <a href="http://julian.togelius.com/">Professor Jullian Togelius</a></li>
    <li>2018 / NVIDIA / Automotive Deep Learning Solution Architect </li>
    <li>2017 / NVIDIA / Automotive Deep Learning Solution Architect Intern </li>
    <li>2016 / University of Illinois Urbana-Champaign - Bretl Research Group / Undergraduate Research Assistant under <a href="http://bretl.csl.illinois.edu/people/">Professor Tim Bretl</a></li>
    <li>2016 / Nest Labs / Embedded Software Engineering Intern</li>
    <li>2014 - 2018 / University of Illinois Urbana-Champaign - Vision Group / Undergraduate Research Assistant under <a href="http://dhoiem.cs.illinois.edu/">Professor Derek Hoiem</a></li>
    <li>2013 - 2014 / University of Colorado Boulder - Correll Lab / High School Research Assistant under <a href="http://correll.cs.colorado.edu/?page_id=19">Professor Nikolaus Correll</a></li>
</ul>

<h2>Most Recent Papers, Posters and Preprints</h2>

<ul class="article-list">
    {% set publications = load_data(path="content/pubs/publications.yml") %}
    {% for pub in publications %}
        {% if loop.index <= 3  %}
    <li class="article-list-item">
        <a href="{{ pub.link }}" title="{{ pub.title }}">
            <h4>
              [{{ pub.journal }}] {{ pub.title }}
              <span class="icon icon-arrow-right"></span>
            </h4>
        </a>
        <p>{{ pub.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
                  {{ pub.date | date(format="%B %-d, %Y") }}
            </span>
            <span class="article-list-divider">-</span>
            <div class="article-list-tags">
                {% for coauthor in pub.coauthors %}
                    <a href="{{coauthor.site}}">{{ coauthor.name }}</a>
                {% endfor %}
            </div>
        </div>
    </li>
        {% endif %}
    {% endfor %}
</ul>
<a href="/pubs", title="More publications">More Publications</a>

<h2>Most Recent Talks</h2>

<ul class="article-list">
    {% set talks = load_data(path="content/pubs/talks.yml") %}
    {% for talk in talks %}
        {% if loop.index <= 3  %}
    <li class="article-list-item">
        <a href="{{ talk.link }}" title="{{ talk.title }}">
            <h4>
              [{{ talk.venue }}] {{ talk.title }}
              <span class="icon icon-arrow-right"></span>
            </h4>
        </a>
        <p>{{ talk.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
                  {{ talk.date | date(format="%B %-d, %Y") }}
            </span>
        </div>
    </li>
        {% endif %}
    {% endfor %}
</ul>
<a href="/pubs", title="More Talks">More Talks</a>

<h2>Most Recent Posts</h2>

{% set blog = get_section(path="blog/_index.md") %}
{% set pages = blog.pages %}
<ul class="article-list">
{% for page in pages %}
    {% if loop.index <= 3  %}
    <li class="article-list-item">
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">
            <h4>
            {{ page.title }}
            <span class="icon icon-arrow-right"></span>
            </h4>
        </a>
        <p>{{ page.description }}</p>
        <div class="article-list-footer">
            <span class="article-list-date">
                {{ page.date | date(format="%B %-d, %Y") }}
            </span>
            <span class="article-list-divider">-</span>
            <div class="article-list-tags">
                {% for tag in page.taxonomies.tags %}
                    <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
<a href="/blog", title="More posts">More Posts</a>

{% endblock content %}